html{


position: relative;
/* width: 1440px;
height: 1024px; */


background: linear-gradient(180deg, #3A4CEC 0%, rgba(3, 6, 29, 0) 100%);
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */


}.Jogodomilhao1999-1{

position: absolute;

width: 141px;

height: 66px;

left: 39px;

top: 19px;

background: url(Jogodomilhao1999.png);

background-size: 139px;

background-repeat: no-repeat;
}.silvio-santos-boneco-removebg-preview-1{
/* position: absolute; */
width: 140px;
height: 173px;
/* left: 873px; */
/* top: 221px; */
background: url(silvio.gif);
background-size: 136px;
}.Frame-1{

position: absolute;

width: 469px;

height: 47px;

left: 94px;

top: 255px;

/* background: linear-gradient(103.74deg, #E32020 53.14%, #0E0303 124.08%); */

/* border: 5px solid #0E0303; */

/* box-sizing: border-box; */

/* border-radius: 20px; */
}.Frame-3{

position: absolute;

width: 469px;

height: 47px;

left: 112px;

top: 400;

background: linear-gradient(103.74deg, #E32020 53.14%, #0E0303 124.08%);

border: 5px solid #0E0303;

box-sizing: border-box;

border-radius: 20px;
}.Frame-7{


position: absolute;
width: 688px;
height: 67px;
left: 112px;
top: 608px;


background: linear-gradient(103.74deg, #E32020 53.14%, #0E0303 124.08%);
border: 5px solid #0E0303;
box-sizing: border-box;
border-radius: 20px;




}.Frame-4{

position: absolute;

width: 469px;

height: 47px;

left: 112px;

top: 470;

background: linear-gradient(103.74deg, #E32020 53.14%, #0E0303 124.08%);

border: 5px solid #0E0303;

box-sizing: border-box;

border-radius: 20px;
}.Frame-5{

position: absolute;

width: 469px;

height: 47px;

left: 112px;

top: 540;

background: linear-gradient(103.74deg, #E32020 53.14%, #0E0303 124.08%);

border: 5px solid #0E0303;

box-sizing: border-box;

border-radius: 20px;
}.Frame-6{

position: absolute;

width: 469;

height: 47px;

left: 112px;

top: 610px;

background: linear-gradient(103.74deg, #E32020 53.14%, #0E0303 124.08%);

border: 5px solid #0E0303;

box-sizing: border-box;

border-radius: 20px;
}.Frame-2{

position: absolute;

width: 543px;

height: 139px;

left: 39px;

top: 100px;

background: linear-gradient(94.16deg, #E32020 53.14%, #0E0303 124.08%);

border: 5px solid #0E0303;

box-sizing: border-box;

border-radius: 20px;
}.Ellipse-2{


position: absolute;
width: 64px;
height: 59px;
left: 39px;
top: 512px;


background: #F5BF32;




}.A{
    user-select: none;
    margin-bottom: 24px;
/* position: absolute; */
width: 28px;
height: 47px;
/* left: 57px;
top: 518px; */
display:block;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
}.identical to box height{
text-align: center;


color: #000000;






}.Ellipse-3{


position: absolute;
width: 64px;
height: 59px;
left: 39px;
top: 612px;


background: #F5BF32;




}.B{


position: absolute;
width: 26px;
height: 47px;
left: 58px;
top: 618px;


font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
}.identical to box height{
text-align: center;


color: #000000;






}.Ellipse-4{


position: absolute;
width: 64px;
height: 59px;
left: 39px;
top: 712px;


background: #F5BF32;




}.C{


position: absolute;
width: 27px;
height: 47px;
left: 58px;
top: 718px;


font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
}.identical to box height{
text-align: center;


color: #000000;






}.Ellipse-5{

position: absolute;

left: 36px;

top: 274px;
}.D{


position: absolute;
width: 26px;
height: 47px;
left: 58px;
top: 818px;


font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
}.identical to box height{
text-align: center;


color: #000000;






}.Ellipse-6{


position: absolute;
width: 64px;
height: 59px;
left: 39px;
top: 912px;


background: #F5BF32;




}.E{


position: absolute;
width: 23px;
height: 47px;
left: 60px;
top: 918px;


font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
}.identical to box height{
text-align: center;


color: #000000;






}.barra{
/* position: absolute; */
width: 273px;
height: 129px;
/* left: 963px; */
/* top: 478px; */
background: url(barra.png);
}.barra{
/* position: absolute; */
width: 273px;
height: 129px;
/* left: 44%; */
/* top: 185px; */
background: url(barra.png);
background-size: 153px;
background-repeat: no-repeat;
}


.Frame-9{


position: absolute;
width: 406px;
height: 92px;
left: 907px;
top: 624px;


background: linear-gradient(90deg, #E982FA 16.67%, rgba(121, 86, 223, 0.99) 100%);
border: 3px solid #D90FEB;
box-sizing: border-box;
box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;




}.Frame-10{
/* position: absolute; */
width: 239px;
height: 71px;
/* left: 525px; */
/* top: 163px; */
background: linear-gradient(90deg, #93FA82 16.67%, rgba(130, 250, 221, 0.99) 100%);
border: 3px solid #55EB0F;
box-sizing: border-box;
box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
cursor: pointer;
}.dinheiro{


position: absolute;
width: 284px;
height: 24px;
left: 973px;
top: 250px;


font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 41px;
text-align: center;


color: #FF2F2F;


border: 2px solid #000000;

}








.Ellipse {
    /* position: absolute; */
    width: 46px;
    height: 46px;
    background: #F5BF32;
    border-radius: 100%;
    margin-bottom: 24px;
}


.Frame{

/* position: absolute; */

width: 485px;

height: 46px;

background: linear-gradient(103.74deg, #E32020 53.14%, #0E0303 124.08%);

border: 5px solid #0E0303;

box-sizing: border-box;

border-radius: 20px;

margin-bottom: 24px;

cursor: pointer;
}





.barra2{
margin-top: -138px;
margin-left: 14px;
}
.azul{

background: linear-gradient(90deg, #E982FA 16.67%, rgba(121, 86, 223, 0.99) 100%);

border: 3px solid #D90FEB;

margin-top: 168px;
}
.opcoes{

margin-left: 4px;

margin-bottom: 23px;
}
p{
    padding: 5px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-align: center;
    user-select: none;
}

.p2{

    padding-top: 5px
}
.continue{font-size: 32px;padding: 12px;margin-left: auto;margin-right: auto;display: block;}


span{
    position: absolute;
    left: 811px;
    top: 129px;
    font-size: 22px;
    color:#E32020;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
    font-weight: 100;
    font-family: fantasy;
}
.active{
border: 5px solid blue;}

.correct1{
border: solid 2px;
    border-radius: 100%;
    padding-right: 8px;
    padding-left: 6px;
    margin-left: -3px;
    margin-top: -3px;}
    .correct{
    border: 5px solid yellow;}
    #tempo{position: absolute;
        top: 56%;
        left: 86%;
        font-size: 23px;
        color: #E32020;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
        font-weight: 100;
        font-family: fantasy;}
        .title, .wp-block-pullquote p, .wp-block-cover .wp-block-cover-text, .wp-block-cover p {
            display: block;
            margin: 300;
            font-family: "HK Nova",sans-serif;
            font-weight: 900;
            padding: 10px;
            position: relative;
            text-align: center;
            color: #F5BF32;
            font-size: 50px;
            margin-top: 10px;
            margin-bottom: -37px;
        }
    